.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #F4F4FC
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #7575E2
}

.swiper-pagination {
  width: auto !important;
  position: absolute !important;
  left: 80% !important;
  bottom: 10 !important;
};
